#canvas {
  position: absolute;
  background-color: #ccc;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
  outline: 10px solid rgb(255, 255, 255);
}

.exit {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.score {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  span {
    font-weight: bolder;
    color: red;
  }
}

.high_score {
  color: white;
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  span {
    font-weight: bolder;
    color: greenyellow;
  }
}

#vision-overlay {
  @extend #canvas;
  position: absolute;
  z-index: 2;
  background-color: transparent;
}

.mobileButtons {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: flex;
  }
  .mobileMovement {
    margin: 5px;
    font-weight: bold;
    color: white;
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  #canvas {
    width: 95vw;
    height: 95vw;
    outline: 5px solid rgb(255, 255, 255);
  }
  .score,
  .high_score {
    font-size: 20px;
  }
  .high_score {
    top: 35px;
  }
  .exit {
    img {
      width: 30px;
      height: 30px;
    }
  }
}
/* Landscape */
@media screen and (orientation: landscape) {
  #canvas {
    width: 95vh;
    height: 95vh;
  }
  .mobileButtons {
    display: none;
  }
}
#overlay {
  @extend #canvas;
  z-index: 3;
  position: absolute;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  background-color: transparent;
  display: none;
}
