#canvas {
  position: relative;
  width: 750px;
  height: 750px;
  background-color: #ccc;
  display: grid;
  grid-template-rows: repeat(25, 1fr);
  grid-template-columns: repeat(25, 1fr);
  outline: 10px solid rgb(255, 255, 255);
}
