h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: top;
    font-family: monospace;;
    margin-bottom: 30px;
    font-size: 45px;
}

.leaderboard{
    &__table{ 
        table, th, td {
            color: white;
            border: 2px solid white;
            width: 75%;
        }
    } 

    &__btn{
        border:none;
        font-family: 'Courier New', Courier, monospace;;
        font-size: 15px;
        background-color: gray;
        color: rgb(255, 255, 255);
        padding: 10px;
        text-decoration: none;
        width: 45%;
        text-align: center;
        transition: 0.5s ease-in-out background-color;
        cursor: pointer;
        &:hover{
        background-color: darken(grey, 10%);
        }
      
    }
}