h1 {
  color: white;
  text-align: center;
  font-family: monospace;;
  margin-bottom: 30px;
  font-size: 64px;
}
p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  }

.form-container{
background-color: #656565c9;
display: flex;
justify-content: center;

flex-direction: column;
padding: 20px 40px;
min-width: 500px;


input[type=text] {
    width: 100%;
    padding: 10px 15px;
    &:focus{
      outline:none;
    }
  }


.btn-container{

  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  
  .btn{
    border:none;
    //margin:0px 10px;
    background-color: gray;
    color: white;
    padding: 10px;
    text-decoration: none;
    width: 45%;
    text-align: center;
    transition: 0.5s ease-in-out background-color;
    cursor: pointer;
    &:hover{
    background-color: darken(grey, 10%);
    }
  
  }
}

}

